<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schema/jaxws.xsd">

    <bean id="client" class="com.ibm.rules.decisionservice.pffmonitoreo123_ruleapp.pffmonitoreo123rules.PffMonitoreo123RulesDecisionService_Service" 
          factory-bean="clientFactory" factory-method="create"/>
    
    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.ibm.rules.decisionservice.pffmonitoreo123_ruleapp.pffmonitoreo123rules.PffMonitoreo123RulesDecisionService"/>
        <property name="address" value="http://lnxsodm3d.dev.unix.banorte.com:9080/DecisionService/ws/pffMonitoreo123_RuleApp/pffMonitoreo123rules"/>
    </bean>
	  
</beans>